body {
  margin: 0;
}

li {
  list-style-type: none;
}

.deck {
  font-size: 30px;
}

.link {
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.26);
  padding: 20px;
  /* margin-right: 40px; */
  background-color: #7e424e;
  border-radius: 15px;
  max-width: 20%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.table {
  margin-top: 60px;
  margin-bottom: 60px;
}

th,
td {
  padding: 20px;
}


thead th,
tfoot th,
tfoot td {
  border: 3px solid black;
}

tbody tr:nth-child(odd) {
  background-color: rgb(13, 120, 196);
}

.link:hover {
  color: aquamarine;
}

.deck-link:hover {
  background-color: rgb(211, 120, 0);
  border-radius: 7px;
}

.header {
  margin-top: 0px;
  margin-bottom: 0;
  text-align: center;
  font-size: 40px;
}

.add-deck {
  text-align: center;
}

.deck-input {
  padding: 9px;
}
