.App {
  text-align: center;
}

body {
  background-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: rgb(233, 155, 10);
  overflow: hidden;
}

.nav {
  display: flex;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav:hover {
  background-color: rgb(211, 120, 0);
  border-radius: 10px;
}

.nav:active {
  color: #61dafb;
}

.navbar p:hover {
  background-color: #ddd;
  color: black;
}

.navbar p:active {
  background-color: #4caf50;
  color: white;
}

.nav {
  margin: 15px;
}
